<{{ section.html_tag }} id="{{ section.html_anchor }}" class="overflow-hidden {{ section.css_classes |join(' ') }}">

    <div class="flex flex-col gap-y-8 lg:gap-y-20 py-24">

            {% for key, item in section.sections %}
            <div class="{{ key is odd and section.use_zigzag ? 'bg-secondary bg-opacity-5' }} flex flex-row gap-3">
                <div class="{{ section.container_style }} {{ key is odd and section.use_zigzag ? 'my-16' }} relative">
                  {% if section.use_numbers %}
                  <div class="flex flex-col lg:absolute lg:top-0 transform {{ section.arrow_center ? 'lg:left-1/2 lg:ml-6' : 'lg:left-6' }} lg:-translate-x-1/2 lg:h-full">
                      <div class="flex items-center justify-center w-9 h-9 rounded-full bg-secondary text-white font-bold mb-3">{{ key + 1 }}</div>
                      <div class="flex-1 bg-secondary w-0.5 mx-auto relative"></div>
                      <div class="triangle_down mx-auto"></div>
                  </div>
                  {% endif %}
                  <div class="grid grid-cols-1 lg:grid-cols-2 {{ section.arrow_center ? 'gap-6 lg:gap-20' }} items-center {{ section.use_numbers ? 'lg:pl-12' }}">
                      {% if item.button_page %}
                        <a class="order-2 image-hover-efect  {{ key is odd ? 'lg:order-1 pr-10' : 'lg:order-2' }}" href="{{ item.button_page | link }}" {{ item.button_external ? 'target="_blank" rel="noopener"' }} aria-label="{{ item.button_title }}">
                         {% if item.image_code  %}
                             {{ item.image_code | raw }}
                           {% else %}
                              <div class="card_renter_sm flex flex-col rounded-md overflow-hidden">
                                {% if item.image  %}
                                 <img class="max-w-xl lg:max-w-none w-full h-auto w-full " src="{{ item.image | media }}" loading="lazy" alt="{{ item.image | replace({ '_' : ' ', '/site-images/' : '', '.webp' : '' }) }}" title="{{ item.title | replace({ '<em>' : '', '</em>' : '' }) | raw }} {{ item.image | replace({ '-' : ' ', '_' : ' ', '/site-images/' : '', '.webp' : '' }) }} " />
                                {% endif %}
                              </div>
                           {% endif %}
                       </a>
                      {% else %}
                      <div class="order-2 {{ key is odd ? 'lg:order-1 pr-10' : 'lg:order-2' }}" href="{{ item.button_page | link }}" {{ item.button_external ? 'target="_blank" rel="noopener"' }}>
                         {% if item.image_code  %}
                             {{ item.image_code | raw }}
                         {% else %}
                             <div class="card_renter_sm flex flex-col rounded-md overflow-hidden">
                                {% if item.image  %}
                                 <img class="max-w-xl lg:max-w-none w-full h-auto  w-full" src="{{ item.image | media }}" loading="lazy" alt="{{ item.image | replace({ '_' : ' ', '/site-images/' : '', '.webp' : '' }) }}" title="{{ item.title | replace({ '<em>' : '', '</em>' : '' }) | raw }} {{ item.image | replace({ '-' : ' ', '_' : ' ', '/site-images/' : '', '.webp' : '' }) }} " />
                                 {% endif %}
                             </div>
                         {% endif %}
                      </div>
                      {% endif %}
                      <div class="order-1 {{ section.arrow_center ? '' : 'lg:pl-12' }} {{ key is odd ? 'lg:order-2' : 'lg:order-1' }}">
                          <{{ item.title_type ? item.title_type : 'h3' }} class="mb-4">{{ item.title | raw }}</{{ item.title_type ? item.title_type : 'h3' }}>
                          <div class="richText font-medium text-gray mb-4 sm:pr-12">
                            {{ item.content | content }}
                          </div>
                          {% if item.button_page %}
                          <a href="{{ item.button_page | link }}" {{ item.button_external ? 'target="_blank" rel="noopener"' }} class="inline-block text-sm lg:text-base bg-primary text-silver-light transition ease-out duration-300 rounded-full px-4 lg:px-5 py-2 lg:py-2.5 mt-4 font-bold hover:bg-secondary"">
                              {{ item.button_title }}
                          </a>
                          {% endif %}
                      </div>
                  </div>
                </div>
            </div>
            {% endfor %}

    </div>

</{{ section.html_tag }}>