<{{ section.html_tag ?? 'div' }} id="{{ section.html_anchor }}" class="pb-16 {{ section.css_classes |join(' ') }}">

    <div class="{{ section.container_style ?? 'container' }}">

        {% if section.show_category_nav %}
          {% partial 'builder/blogs/_sidebar' %}
        {% endif %}

        <div id="posts-ajax">
          {% partial 'builder/blogs/_ajaxlist' %}
        </div>

        {% if section.url %}
        <footer class="mb-16">
            <a class="inline-block text-base font-medium border border-purple bg-purple hover:bg-purple-light transition-all text-white rounded-full px-4 py-1" href="{{ section.url | link }}">
              Pogledaj više
            </a>
        </footer>
        {% endif %}

    </div>

</{{ section.html_tag ?? 'div' }}>
