/vendor
/modules
/node_modules
.env

# Git ignore contents of the folder but keep the folder
/storage/logs/*
!/storage/logs/.gitkeep

/storage/cms/cache/*
!/storage/cms/cache/.gitkeep

/storage/cms/twig/*
!/storage/cms/twig/.gitkeep

/storage/cms/combiner/*
!/storage/cms/combiner/.gitkeep

/storage/framework/cache/*
!/storage/framework/cache/.gitkeep

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep