[sitePicker]
==
{# Top contact #}
    {% if settings.top_banner_image %}
        <div class="top-0 w-full bg-secondary flex justify-center {#py-2#}" style="height:100px; background-image: linear-gradient(rgba(255, 70, 71, 0.8), rgba(255, 70, 71, 0.8)), url('{{ settings.top_banner_background |media }}'); background-repeat: no-repeat; background-size:cover;">
            <a href="{{settings.top_banner_url}}" target="_blank" class="w-full underline font-bold text-white"><img src="{{ settings.top_banner_image |media }}" class="h-full mx-auto"></a>
        </div>
    {% endif %}
    <div class="bg-primary px-4 lg:px-16 pb-2 flex justify-center md:justify-end gap-8 pt-2 {#{ settings.top_banner_text == '' ? 'pt-2' : 'pt-12' }#}">
        <a class="flex items-center gap-2 text-white text-sm md:text-base" href="tel:{{ page_settings.contact_phone }}">


            <img class="w-5 md:w-6 h-5 md:h-6" src="{{ 'assets/icons/phone.svg'|theme }}" alt="Phone icon"  width="24" height="24"/>

            {{ page_settings.contact_phone }}
        </a>
        <a class="flex items-center gap-2 text-white text-sm md:text-base" href="mailto:{{ html_email(page_settings.contact_email) }}">
            <img width="24" height="24" src="{{ 'assets/icons/mail-2.svg'| theme }}" alt="Email icon" />
            {{ html_email(page_settings.contact_email) }}
        </a>
    </div>


    {# Navigation #}
    <nav class="bg-white px-4 lg:px-16 py-3.5 flex items-center justify-between gap-5 border-b border-silver-alt">

        {# Logo #}
        <a class="block" href="{{ 'index' | page }}" aria-label="Home page">

           <img width="150" src="{{ settings.logo | media }}" alt="MyRent logo" />

        </a>

        {# Menu #}
        {% if settings.main_menu %}
        <div class="hidden xl:flex items-center gap-2">
          {% partial 'layout/main-menu' items = settings.main_menu.links %}
        </div>
        {% endif %}

        <div class="flex items-center gap-4 z-30">

            <button class="xl:hidden js-sidemenu-trigger" type="button">
              <img class="menu-icon" width="40" height="40" src="{{ 'assets/icons/menu.svg'|theme }}" alt="Menu icon" loading="lazy" />
              <img class="close-icon" width="40" height="40" src="{{ 'assets/icons/x-close.svg'|theme }}" alt="Menu icon" loading="lazy" style="display:none"/>
            </button>

        </div>

    </nav>