*, ::before, ::after{
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	border-color: currentColor;
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-blur: var(--tw-empty,/*!*/ /*!*/);
	--tw-brightness: var(--tw-empty,/*!*/ /*!*/);
	--tw-contrast: var(--tw-empty,/*!*/ /*!*/);
	--tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
	--tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
	--tw-invert: var(--tw-empty,/*!*/ /*!*/);
	--tw-saturate: var(--tw-empty,/*!*/ /*!*/);
	--tw-sepia: var(--tw-empty,/*!*/ /*!*/);
	--tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
	--tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:absolute::before{
	content: "";
	position: absolute;
}
.before\:top-0::before{
	content: "";
	top: 0px;
}
.before\:left-1\/2::before{
	content: "";
	left: 50%;
}
.before\:left-0::before{
	content: "";
	left: 0px;
}
.before\:right-0::before{
	content: "";
	right: 0px;
}
.before\:bottom-0::before{
	content: "";
	bottom: 0px;
}
.before\:top-1\/2::before{
	content: "";
	top: 50%;
}
.before\:top-6::before{
	content: "";
	top: 1.5rem;
}
.before\:-bottom-0\.5::before{
	content: "";
	bottom: -0.125rem;
}
.before\:-bottom-0::before{
	content: "";
	bottom: 0px;
}
.before\:right-full::before{
	content: "";
	right: 100%;
}
.before\:z-10::before{
	content: "";
	z-index: 10;
}
.before\:h-5::before{
	content: "";
	height: 1.25rem;
}
.before\:h-3::before{
	content: "";
	height: 0.75rem;
}
.before\:h-full::before{
	content: "";
	height: 100%;
}
.before\:h-1::before{
	content: "";
	height: 0.25rem;
}
.before\:w-5::before{
	content: "";
	width: 1.25rem;
}
.before\:w-3::before{
	content: "";
	width: 0.75rem;
}
.before\:-translate-y-1\/2::before{
	content: "";
	--tw-translate-y: -50%;
	transform: var(--tw-transform);
}
.before\:rounded-full::before{
	content: "";
	border-radius: 9999px;
}
.before\:border::before{
	content: "";
	border-width: 1px;
}
.before\:border-r::before{
	content: "";
	border-right-width: 1px;
}
.before\:border-secondary::before{
	content: "";
	--tw-border-opacity: 1;
	border-color: rgba(30, 189, 189, var(--tw-border-opacity));
}
.before\:bg-white::before{
	content: "";
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.before\:bg-secondary::before{
	content: "";
	--tw-bg-opacity: 1;
	background-color: rgba(30, 189, 189, var(--tw-bg-opacity));
}
.before\:bg-gradient-to-b::before{
	content: "";
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.before\:content-\[\'\'\]::before{
	content: '';
}
.after\:absolute::after{
	content: "";
	position: absolute;
}
.after\:top-1\/2::after{
	content: "";
	top: 50%;
}
.after\:left-1\/2::after{
	content: "";
	left: 50%;
}
.after\:right-0::after{
	content: "";
	right: 0px;
}
.after\:left-0::after{
	content: "";
	left: 0px;
}
.after\:right-1\/2::after{
	content: "";
	right: 50%;
}
.after\:top-6::after{
	content: "";
	top: 1.5rem;
}
.after\:h-3::after{
	content: "";
	height: 0.75rem;
}
.after\:h-full::after{
	content: "";
	height: 100%;
}
.after\:-translate-y-1\/2::after{
	content: "";
	--tw-translate-y: -50%;
	transform: var(--tw-transform);
}
.after\:border-b::after{
	content: "";
	border-bottom-width: 1px;
}
.after\:border-r::after{
	content: "";
	border-right-width: 1px;
}
.after\:border-secondary::after{
	content: "";
	--tw-border-opacity: 1;
	border-color: rgba(30, 189, 189, var(--tw-border-opacity));
}
.after\:bg-secondary::after{
	content: "";
	--tw-bg-opacity: 1;
	background-color: rgba(30, 189, 189, var(--tw-bg-opacity));
}
.after\:bg-opacity-10::after{
	content: "";
	--tw-bg-opacity: 0.1;
}
.after\:content-\[\'\'\]::after{
	content: '';
}

.bottom-full{
	bottom: 100%;
}
.top-full{
	top: 100%;
}

@media (min-width: 1024px){
	.lg\:bottom-full{
		bottom: 100%;
	}

  .lg\:before\:absolute::before{
		content: "";
		position: absolute;
	}
	.lg\:before\:-top-8::before{
		content: "";
		top: -2rem;
	}
	.lg\:before\:left-1\/2::before{
		content: "";
		left: 50%;
	}
	.lg\:before\:-top-1\.5::before{
		content: "";
		top: -0.375rem;
	}
	.lg\:before\:-top-1::before{
		content: "";
		top: -0.25rem;
	}
	.lg\:before\:right-0::before{
		content: "";
		right: 0px;
	}
	.lg\:before\:h-4::before{
		content: "";
		height: 1rem;
	}
	.lg\:before\:h-3::before{
		content: "";
		height: 0.75rem;
	}
	.lg\:before\:w-4::before{
		content: "";
		width: 1rem;
	}
	.lg\:before\:w-3::before{
		content: "";
		width: 0.75rem;
	}
	.lg\:before\:-translate-x-1\/2::before{
		content: "";
		--tw-translate-x: -50%;
		transform: var(--tw-transform);
	}
	.lg\:before\:rounded-full::before{
		content: "";
		border-radius: 9999px;
	}
	.lg\:before\:border::before{
		content: "";
		border-width: 1px;
	}
	.lg\:before\:border-white::before{
		content: "";
		--tw-border-opacity: 1;
		border-color: rgba(255, 255, 255, var(--tw-border-opacity));
	}
	.lg\:before\:bg-secondary::before{
		content: "";
		--tw-bg-opacity: 1;
		background-color: rgba(30, 189, 189, var(--tw-bg-opacity));
	}
	.lg\:before\:bg-primary::before{
		content: "";
		--tw-bg-opacity: 1;
		background-color: rgba(44, 108, 120, var(--tw-bg-opacity));
	}
	.lg\:before\:content-none::before{
		content: none;
	}
	.lg\:before\:content-\[\'\'\]::before{
		content: '';
	}
	.lg\:after\:content-none::after{
		content: none;
	}
}
