<{{ section.html_tag }} id="{{ section.html_anchor }}" class="overflow-hidden {{ section.css_classes |join(' ') }}">

  <div class="{{ section.container_style }} px-4 py-16">

    <div class="grid grid-cols-{{ (section.boxes | length) / 2 }} lg:grid-cols-{{ section.boxes | length }} s-boxes {{ section.connect_boxes ? 's-boxes--connect gap-9' : 'gap-4' }}">

        {% for item in section.boxes %}
        <{{  item.url ? 'a' : 'div' }} {% if item.url %}href="{{ item.url | link }}"{% endif %} class="s-boxes__item {{ item.url ? 'cursor-pointer' }} px-2 sm:px-4 py-4 shadow-lg transition-all hover:shadow-2xl rounded-xl text-center border border-silver-light">
			{% if item.icon  %}
            	<img class="mx-auto mb-4 w-10 lg:w-14 h-10 lg:h-14" src="{{ ('assets/icons/' ~ item.icon ~ '.svg')| theme }}" alt="{{ item.title | raw }} icon" />
            {% endif %}            
            <div class="text-base lg:text-lg font-bold mb-2 lg:mb-4">{{ item.title | raw }}</div>
            <p class="text-sm lg:text-base font-medium text-gray">
              {{ item.content | content }}
            </p>
        </{{ item.url ? 'a' : 'div' }}>
        {% endfor %}

    </div>

  </div>


</{{ section.html_tag }}>