<{{ section.html_tag }} id="{{ section.html_anchor }}" class="overflow-hidden {{ section.css_classes |join(' ') }}">

  <div class="{{ section.container_style }}">

    <div class="px-4 pt-6 pb-12 flex justify-center items-center flex-wrap gap-10">

        {% for item in section.images %}
            {% if item.page %}
            <a href="{{ item.page | link }}">
            {% endif %}
              <img class="filter grayscale transition-all hover:filter-none" width="140" height="80" src="{{ item.image | media }}" loading="lazy" alt="{{ item.title | replace({ '<em>' : '', '</em>' : '' }) | raw }} {{ item.image | replace({ '-' : ' ', '_' : ' ', '/site-images/' : '', '.webp' : '' }) }}" title="{{ item.title | replace({ '<em>' : '', '</em>' : '' }) | raw }} {{ item.image | replace({ '-' : ' ', '_' : ' ', '/site-images/' : '', '.webp' : '' }) }}" />
            {% if item.page %}
            </a>
            {% endif %}
        {% endfor %}

    </div>

  </div>


</{{ section.html_tag }}>