[collection categories]
handle = "Knowledge\Category"
==
<aside class="px-4 pt-6 lg:pt-10 pb-16 lg:pb-10">

  <form id="blog-filter-form" data-request="onAjax"
      data-request-update="'builder/articles/_ajaxlist': '#posts-ajax'"
      data-attach-loading>
      <div class="flex items-center gap-2 mb-6">
        <div class="flex items-center gap-1 border border-silver rounded-full overflow-hidden pl-4 sm:max-w-xs w-full">
            <img width="24" height="24" src="{{ 'assets/icons/search-sm.svg'| theme }}" alt="Icon search" />
            <input class="px-3 py-2.5 placeholder-gray-light text-sm w-full" type="text" name="q" placeholder="Pretraži članke..." />
        </div>
        <button class="text-base bg-primary text-silver-light transition ease-out duration-300 rounded-full px-4 lg:px-5 py-2 lg:py-2.5 font-bold hover:bg-secondary hidden sm:block" type="submit">Traži</button>
      </div>

      <div class="flex flex-wrap gap-2">
          <label class="checkbox_items" for="blog_checkbox-all_news">
              <input class="hidden" type="radio" value="" name="categories" id="blog_checkbox-all_news" checked/>
              <span class="check_outline relative block px-4 py-2 border border-primary border-opacity-40 text-gray rounded-full font-medium select-none cursor-pointer">
                Svi članci
              </span>
          </label>
          {% for item in categories %}
          <label class="checkbox_items" for="blog_{{ item.slug }}">
              <input class="hidden" type="radio" name="categories" value="{{ item.id }}" id="blog_{{ item.slug }}" />
              <span class="check_outline relative block px-4 py-2 border border-primary border-opacity-40 text-gray rounded-full font-medium select-none cursor-pointer">
                {{ item.title }}
              </span>
          </label>
          {% endfor %}
      </div>

  </form>

</aside>

<script type="text/javascript">
  document.querySelectorAll('#blog-filter-form input').forEach((el) => {
      el.addEventListener('change', (e) => {
        document.querySelector('#blog-filter-form button').click();
      })
  })
</script>